<configuration>

    <timestamp key="logFileTimeStamp" datePattern="HH_mm_ss"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!--<pattern>%d{HH:mm:ss.SSS} | %-5level | %thread | %X{akkaSource} | %logger{1} | %m%n%rEx</pattern>-->
            <pattern>%d{mm:ss.SSS} | %-5level | %X{akkaSource} | %logger{1} | %m%n%rEx</pattern>

        </encoder>
    </appender>

    <appender name="TRACE" class="ch.qos.logback.core.FileAppender">
        <file>trace/trace-${logFileTimeStamp}.csv</file>
        <append>true</append>
        <encoder>
            <pattern>%m%n%rEx</pattern>
        </encoder>
    </appender>

    <logger name="SIMTRACE" level="DEBUG" additivity="false">
        <appender-ref ref="TRACE"/>
    </logger>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
